@model StaffingPlanner.Models.LostReason

@{
    ViewBag.Title = "Lost Reason Details";
}

<h2>Lost Reason Details</h2>

<div>
    <h4>Lost Reason Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reason)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.lostReasonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
